

@import url(loguin/estilo_loguin_1024px.css);
@import url(loguin/estilo_loguin_640px.css);





    
    html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
}



#contenedor_loguin{
    
    width: 100%;
    height: 79.1%;/*550px;*/;
    background-image:url(../img/ima.jpg);
    background-size: cover;
    background-position: center center;
    /*background:no-repeat fixed center; */

}

#menu_cabecera{
    width: 100%;
    height: 9.5%;
    background-color:#004F7C;
  
}

#menu_contenedor_img{
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
     margin-left: 45%; 

}

#menu_contenedor_ul{
    z-index: 1000;
    width: 22%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 9%;
}

#menu_contenedor_img img{
    width: 50%;
    height: 100%;
    opacity: 1;
}



#menu_contenedor_ul ul {
    list-style: none;
}

#menu_contenedor_ul ul li {
    display: inline-block;
    position: relative;
}

#menu_contenedor_ul ul li:hover {
    background-color: rgba(255,255,255,0.3);
}

#menu_contenedor_ul ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}

ul li a{
    margin-right: 10px;
}

ul li:hover .secundario {
    display: block;
}

ul li .secundario {
    display: none;
    background-color:rgba(0,79,124,0.9);
    position: absolute;
    width: 150%;
}


#form_loguin{
    
    width: 58%;
    height: 70%;/*350px;*/
    margin: auto;
    margin-top: 7%;
}

#contenido_form{
    width: 50%;
    height: 90%;
    margin: auto;
    color: white;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}
#contenido_form hgroup{
    
    text-align: center;
}

#contenido_form hgroup h4{
    
    font-weight: lighter;
}

#contenido_form p{
    
    font-size: 16px;
    margin-top: 5px;
    
}

#contenido_form #enlace_registro a{
    
    color: #22E363;
    text-decoration:none; 
    
}

#contenido_form input{
    width: 100%;
    height: 30px;
    margin-top: 2%;
}

#contenido_form #button_loguin{
    
    width:20%;
    min-width: 80px;
    height: 50px;
    margin: 5% 39%; /*Hay que diminuir el margin left en la media query de 1024px*/
    background-color:#22E363;
    color: white;
    border: 2px solid #22E363;
    border-radius: 6px;
    
}

#enlace_contraseña_olvidada{
    font-size: 16px;
}

#enlace_contraseña_olvidada a{
    color: #22E363;
    text-decoration:none; 
}

#contenedor_footer{
    
    width: 98%;
    height:17%; /*Hay que meter esto en 1920 si o si por que esta jodiendo los width de otras vistas
    */
    background-color: #004F7C;
    padding: 1%;
}

#caja_info{
    
    width: 70%;
    height: 90%;
    margin: auto;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    
}

#info{
    
    width: 70%;
    height: 90%;
    margin: 0% 14%;
    text-align: center;
    
}
#info h4{
 width: 100%;   
}

#info a{
    color: #22E363;
    text-decoration: none;
    
}

#info p{
    font-size: 13px;
}


    
    
}


@media only screen and (max-width: 1920px){
    
    
    
    #menu_cabecera{
        width: 100%;
        height: 73px;
        background-color:#004F7C;
  
    }
    
    #menu_contenedor_ul{
        z-index: 1000;
        width: 34.0%;
        height: 100%;
        display: inline-block;
        vertical-align: top;
        margin-left: 0%;
    }
    
    
    #menu_contenedor_ul ul li a {
        color: white;
        display: block;
        text-decoration: none;
        padding-right:10px;
        padding-top: 15px;
        padding-left: 3%;
    }
    
    ul li .secundario {
        display: none;
        background-color: #004F7C;
        position: absolute;
        width: 140%;
    }
    
    #form_loguin{
        width: 58%;
        height: 70%;/*350px;*/
        margin: auto;
        margin-top: 6%;
    }
    
    
    
    #contenido_form{
        width: 50%;
        height: 90%;
        margin: auto;
        color: white;
        font-size: 28px;
        font-family: 'Roboto', sans-serif;
    }
    
    #enlace_contraseña_olvidada{
        width: 46%;
        margin: auto;
        margin-top: 4%;
        font-size: 16px;
    }
    
    

