    html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
}





#menu_cabecera{
    width: 100%;
    height: 9.5%;
    background-color:#004F7C;
  
}

#menu_contenedor_img{
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
     margin-left: 45%; 

}

.menu_contenedor_ul{
    z-index: 1000;
    width: 22%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 9%;
}

#menu_contenedor_img img{
    width: 50%;
    height: 100%;
    opacity: 1;
}



.menu_contenedor_ul ul {
    list-style: none;
}

.menu_contenedor_ul ul li {
    display: inline-block;
    position: relative;
}

.menu_contenedor_ul ul li:hover {
    background-color: rgba(255,255,255,0.3);
}

.menu_contenedor_ul ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}

ul li a{
    margin-right: 10px;
}

ul li:hover .secundario {
    display: block;
}

ul li .secundario {
    display: none;
    background-color:rgba(0,79,124,0.9);
    position: absolute;
    width: 150%;
}

/*Quitar el display none cuando sean de 1024px para abajo*/

#menu-bar{ 
    
    display: none;
    
}

.icon-menu{
    display: none;
}

#contenedor_footer{
    
    width: 98%;
    height:17%; /*Hay que meter esto en 1920 si o si por que esta jodiendo los width de otras vistas
    */
    background-color: #004F7C;
    padding: 1%;
}

#caja_info{
    
    width: 70%;
    height: 90%;
    margin: auto;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    
}

#info{
    
    width: 70%;
    height: 90%;
    margin: 0% 14%;
    text-align: center;
    
}
#info h4{
 width: 100%;   
}

#info a{
    color: #22E363;
    text-decoration: none;
    
}

#info p{
    font-size: 13px;
}

 