<!DOCTYPE html>
	
	<html>
		
        <head>
            
            <meta charset="utf-8">
            <title>Basketmunio_registro</title>
            <link rel="stylesheet" href="../css/estilos_registro.css">
            <link rel="stylesheet" href="../css/fontello.css">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

        </head>

        <body>
            
            
            <section id="contenedor_registro">
            
                <nav id="menu_cabecera">
                
                <div id="menu_contenedor_img">
                    
                    <img src="img/Equipo4-naranja.png">
                    
                </div>
                
                <div id="menu_contenedor_ul">
                    
                    <ul>
                        
                        <li><a href="#">¿Quienes Somos?</a>
                            <ul class="secundario">
                                <li ><a href="#">¿Quienes Somos?</a></li>
                                <li><a href="#">Conoce al equipo</a></li>
                            </ul>

                        </li>
                        
                        <li><a href="#">Noticias</a>
                            <ul class="secundario">
                                <li><a href="#">Últimas Noticias</a></li>
                                <li><a href="#">Reviews</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="#">Más</a>
                            <ul class="secundario">
                                <li><a href="#">Revista</a></li>
                                <li><a href="#">Foros</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    
                </div>
                
            </nav>
                
                <div id="contenedor_form_registro">
                
                <div id="form_registro">
                
                   <form id="formulario" method="post">
                       
                       <label for="input_password">Apodo o Correo Electrónico</label>
                       <input type="password" name="password" id="input_password" placeholder="Apodo o Correo Electronico">
                    
                       <input type="submit" name="envio_registro" id="button_registro" value="Enviar">

                    </form>
                
                    
                </div>
            </div>
            </section>
            
            <footer>
                <div id="contenedor_info">
                
                    <div id="info">
                        <h4>Puedes seguirnos</h4>
                        <a href="https://es-es.facebook.com/" class="icon-facebook-squared"></a> | 
                        <a href="https://twitter.com/?lang=es" class="icon-twitter"></a>  
                        <p>Basketmunio creado y diseñado para fines no lucrativos | <span class="icon-copyright"></span> BASKETMUNIO</p>

                    </div>
                
                </div>
            </footer>

        </body>
    
    </html>