<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">
    <title>Basketmunio_registro</title>
    <link rel="stylesheet" href="../css/estilos_registro.css">
    <link rel="stylesheet" href="../css/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


</head>

<body>
<form id="formulario" action="../controllers/RegistroLiga.php"  method="post">

    <label for="nombre_liga">Nombre Equipo:</label>
    <input type="text" name="nombre_liga" id="nombre_liga" placeholder="Nombre">

    <select name="tipo_liga">
        <option value="pu">Pública</option>
        <option value="pv">Privada</option>
    </select>

    <label for="password">Contraseña:</label>
    <input type="text" name="password" id="password" placeholder="escudo">

    <input type="submit" name="envio_liga" id="registro_liga" value="Enviar">
</form>
</body>
</html>