html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
}



#contenedor_loguin{

    width: 100%;
    height: 800px;
    background-size: cover;
    background-position: center center;
    /*background:no-repeat fixed center; */
}

/*MENU----------------------------------------------------------------------------------------------------------------*/

#menu_cabecera{
    width: 100%;
    height: 70px;
    background-color:#004F7C;
}

/*#menu_cabecera:nth-child(3) {
    margin-left: 20%;
}*/

#menu_contenedor_img{
    width: 150px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 0%;
    padding-left: 4%;
}
#menu_dcha{
    margin-left: 3%;
    padding-left: 0%;
}
.menu_contenedor_ul{
    z-index: 1000;
    width: 25%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 12.5%;
    font-size: 12px;
    padding-left: 3%;
}

#menu_contenedor_img img{
    width: 200px;
    height: 100%;
    opacity: 1;
}



.menu_contenedor_ul ul {
    list-style: none;
}

.menu_contenedor_ul ul li {
    display: inline-block;
    position: relative;
}

.menu_contenedor_ul ul li:hover {
    background-color: rgba(255,255,255,0.3);
}

.menu_contenedor_ul ul li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px;
}



ul li a{
    margin-right: 10px;
}

ul li:hover .secundario {
    display: block;
}

ul li .secundario {
    display: none;
    background-color: #004F7C;
    position: absolute;
    width: 150%;
}

/*----------------------------------------------------------------------------------------------------------------*/


/*CREACION O BUSQEUDA DE UNA LIGA---------------------------------------------------------------------------------*/


#contenedor_form{

    width: 70%;
    height: 400px;
    margin: auto;
    margin-top: 50px;
}
#contenedor_form h1{

    font-size: 22px;
    color: #004F7C;
    margin-left: 350px;

}
#formulario_search{
    width: 49%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

#input_search{
    width: 100%;
    height: 30px;
    margin-top: 100px;
}

#search{
    width:20%;
    height: 50px;
    margin: 5% 39%;
    background-color:#22E363;
    color: white;
    border: 2px solid #22E363;
    border-radius: 6px;
}

#search:hover{
    cursor:pointer; /*todos menos Internet Explorer*/
    cursor: hand    /*solo Internet Explorer*/
}

#formulario_creacion{
    width: 48%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;

}
#input_crear{
    width: 100%;
    height: 30px;
    margin-top: 100px;
}

#crear{
    width:20%;
    height: 50px;
    background-color:#22E363;
    color: white;
    border: 2px solid #22E363;
    margin: 5% 39%;
    border-radius: 6px;
}

#crear:hover{
    cursor:pointer; /*todos menos Internet Explorer*/
    cursor: hand    /*solo Internet Explorer*/
}

#search_resultado{
    width: 70%;
    height:300px;
    margin: auto;
    margin-top: 30px;

}

#ligas{
    width:80%;
    border: 2px solid green;
    margin: auto;
    color: #004F7C;
}

#ligas tr td{
    border: 2px solid greenyellow;
}

.unirse{
    width:100%;
    height: 20px;
    background-color:#22E363;
    color: white;
    border: 2px solid #22E363;
    border-radius: 6px;
}
.dejar{
    width:100%;
    height: 20px;
    background-color:red;
    color: white;
    border: 2px solid red;
    border-radius: 6px;
}

#caja_mensaje{
    width:70%;
    height:50px;
    background-color:#DAF7A6;
    color: green;
    border-radius: 20px;
    padding-left: 110px;
    padding-top: 5px;
    margin-top: 90px;
}


/*----------------------------------------------------------------------------------------------------------------*/
/*FOOTER----------------------------------------------------------------------------------------------------------*/
#contenedor_footer{

    width: 98%;
    height:17%;
    background-color: #004F7C;
    padding: 1%;
}

#caja_info{

    width: 70%;
    height: 90%;
    margin: auto;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

#info{

    width: 70%;
    height: 90%;
    margin: 0% 14%;
    text-align: center;

}
#info h4{
    width: 100%;
}

#info a{
    color: #22E363;
    text-decoration: none;

}

#info p{
    font-size: 13px;
}
/*---------------------------------------------------------------------------------------------------------------*/