html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    margin: 0%;
}


#contenedor_principal{

    width: 100%;
    height: 79.1%;/*550px;*/;
    /*background:no-repeat fixed center; */
}


#menu_cabecera{
    width: 100%;
    height: 70px;
    background-color:#004F7C;

}


#menucabecera:nth-child(3) {
    margin-left: 10%;
}

#menu_contenedor_img{
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 4%;

}

.menu_contenedor_ul{
    z-index: 1000;
    width: 20%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-left: 18.5%;
    font-size: 12px;
    padding-left: 3%;
}

#menu_dcha{
    margin-left: 2%;
    padding-left: 0%;
}

#menu_contenedor_img img{
    width: 200px;
    height: 100%;
    opacity: 1;
}

.menu_contenedor_ul ul {
    list-style: none;
}

.menu_contenedor_ul ul li {
    display: inline-block;
    position: relative;
}

.menu_contenedor_ul ul li:hover {
    background-color: rgba(255,255,255,0.3);
}

.menu_contenedor_ul ul li a {
    color: white;
    display: block;
    text-decoration: none;
    /*/ 20px;*/
}

ul li a{
    margin-right: 10px;
}

ul li:hover .secundario {
    display: block;
}

ul li .secundario {
    display: none;
    background-color:rgba(0,79,124,0.9);
    position: absolute;
    width: 150%;
}

/*Quitar el display none cuando sean de 1024px para abajo*/

#menu-bar{

    display: none;

}

.icon-menu{
    display: none;
}


#escoge_equipo{
    width: 20%;
    height: 90%;
    border: 2px solid green;
    display: inline-block;
    vertical-align: top;
}
#plantilla_equipo{
    width: 68%;  /* 70% cuando quites bordes */
    height: 90%;
    border: 2px solid red;
    display: inline-block;
    vertical-align: top;
}
#ultimas_noticias{
    width: 10%;
    height: 90%;
    border: 2px solid blue;
    display: inline-block;
    vertical-align: top;
}

#contenedor_footer{

    width: 98%;
    height:17%; /*Hay que meter esto en 1920 si o si por que esta jodiendo los width de otras vistas
    */
    background-color: #004F7C;
    padding: 1%;
}

#caja_info{

    width: 70%;
    height: 90%;
    margin: auto;
    color: white;
    font-weight: lighter;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}

#info{

    width: 70%;
    height: 90%;
    margin: 0% 14%;
    text-align: center;

}
#info h4{
    width: 100%;
}

#info a{
    color: #22E363;
    text-decoration: none;
}

#info p{
    font-size: 13px;
}

/* CSS específico para mis_ligas.php */

/* TABLA CLASIFICACIÓN DE UNA LIGA */

#contenedor_clasificacion_miliga{
    display: inline-block;
    vertical-align: top;
    margin-top: 75px;
    margin-left: 500px;
}

.tabla-clasificacionligas {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.tabla-clasificacionligas thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.tabla-clasificacionligas tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.tabla-clasificacionligas-zebra tbody tr:nth-child(odd) {
    background-color: #fff;
}
.tabla-clasificacionligas-zebra tbody tr:nth-child(even) {
    background-color: #EEF7EE;
}
.tabla-clasificacionligas-horizontal tbody td {
    border-left: none;
    border-right: none;
}